/* Insert your styles here */

/* Header Style: text that says "lundardo" */
header {
    
    background-color: #000a12;
    text-align: center;
    padding: 30px;
    margin: 0px;
    border: 0px;
}

h1 {
    font-size: 36px;
    color: white;
    text-align: center;
}

body {
    background-color: #4f5b62;
    color: #ffffff;
    margin: 0px;
}

.content {
    max-width: 960px;
    margin: auto;
}

#underConstruction {
 display: flex;
 justify-content: center;   
 margin-left: auto;
 margin-right: auto;
}


/* navigation bar styling */
.topnav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #263238;
    overflow: hidden;
    position: sticky;
}

.topnav a{
    display: block;
    float: left;
    color: #ffeb3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
}

.topnav a:hover {
    background-color: #102027;
    color: white;
}

.topnav a.active {
    background-color: #ffeb3b;
    color: #263238;
}

/* morbin time my dudes YEEEEEEAAAAAAAAAAAAAAAAA */

.movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.movieTitle {
    position: relative;
    text-align: center;
    color: white;
    display: 75%;
    padding: 5px;
}

.movieTitle img {
    width: 60%;
    opacity: 0.75;
}

.morbiusText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }


#About {
    text-align: center;
}