/* Insert your styles here */



body {
    background-color: #37474f;
    color: #ffffff;
    display: flex;
    justify-content: center;
}

#underConstruction {
 display: flex;
 justify-content: center;   
 margin-left: auto;
 margin-right: auto;
}

.topnav{
    background-color: #37474f;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #ffeb3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
}

.topnav a:hover {
    background-color: #102027;
    color: black;
}

.topnav a.active {
    background-color: #ffeb3b;
    color: #37474f;
}
