/* Insert your styles here */

/* Header Style: text that says "lundardo" */
header {

    background-color: #000a12;
    text-align: center;
    padding: 30px;
    margin: 0px;
    border: 0px;
}

.topHeaderArea {
    display: block;
    justify-content: center;
}

.topHeaderArea img {
    vertical-align: middle;
}

.topHeaderArea h1 {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fbff0c, 0 0 20px #fbff0c, 0 0 25px #fbff0c, 0 0 30px #fbff0c, 0 0 35px #fbff0c;
}

h1 {
    font-family: Righteous, display;
    font-size: 48px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Righteous, display;
    font-size: 36px;
    color: white;
}

body {
    font-family: "Kantumry Pro", sans-serif;
    background-color: #4f5b62;
    color: #ffffff;
    margin: 0px;
}


/* navigation bar styling */
.topnav {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color: #263238;
    overflow: hidden;
    position: sticky;
}

.topnav a {
    display: block;
    float: left;
    color: #ffeb3b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px
}

.topnav a:hover {
    background-color: #102027;
    color: white;
}

.topnav a.active {
    background-color: #ffeb3b;
    color: #263238;
}

#home {
    width: 100%;
    justify-content: center;
}

.featured {
    display: flex;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: center;
}

